body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: grey;
	font-family: 'Cinzel', serif;
}
/*main */
#search-bar {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 1rem;
}

#search-bar:focus {
    border-color: #888;
}
#explore {
	font-size: 1.2rem;
}
#explore > p {
	margin: 0;
	padding: 0;
	font-size: 3.5rem;
}
#search-btn {
    padding: 10px 20px;
    background-color: #8B0000; /* Mörk vinröd för biokänsla */
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-btn:hover {
    background-color: #6A0000; /* Lite mörkare röd på hover */
}


#search-btn:hover {
    background-color: #6A0000;
}
.banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1626814026160-2237a95fc5a0?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
	background-size:cover;
	height: 200px;
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
}
.banner-content {
	display: flex;
	background-position: center;
	flex-direction: row;
	font-size: 1rem;
	color: white;
	align-items: center;
	gap:.5rem;
	font-size: 1.4rem;
	margin: 0;
}
.searchbar-and-btn {
position: relative;
    top: -20px; /* Flytta knappen uppåt */
    /* eller om du vill flytta den åt sidan, använd left eller right */
}
#watchlist-btn {
background-color: rgba(255, 215, 0, 0.7); /* Guld med transparens */
    color: black;
    border: 2px solid #000; /* Svart kant */
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-flex; /* Gör att ikonen och texten ligger snyggt bredvid varandra */
    align-items: center;
    gap: 8px; /* Mellanrum mellan ikon och text */
    cursor: pointer;
}
/*article*/
article {
	font-size: 1.5rem;
	margin-top: auto ;
	padding: 2rem;
}
/*titel resultat*/
.film-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 24px;
}
.film-details > * {
	margin: 0;
}
.film-details {

}
h3 {
	max-width: 200px;
}
