body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: bisque;
}
/*banner*/
.banner {
	display: flex;
	
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	background-color: aqua;
	background-size: cover;
	min-height: 150px;
}
h1, h2, .popcorn {
	margin: 0;
	padding: 12px;
	font-size: 1.5rem;
	line-height: 2rem;
}
.popcorn {
	font-size: 2rem;;
}
.searchbar-and-btn {
	margin: -12px;
	margin-right: 0;
}
