body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: none;
}
/*banner & main */
.banner {
	display: flex;
	background-image: url(https://images.unsplash.com/photo-1626814026160-2237a95fc5a0?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
	background-position: center;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	background-size:cover;
	height: 300px;
	width: 100%;
	
	
}
.banner > h1, h2, .popcorn {
	margin: 0;
	padding: 12px;
	font-size: 1rem;
	line-height: 2rem;
	background-color: antiquewhite;
	
}
.banner > h1, h2 {
	color: green;
	background-color: antiquewhite;
	
}
.popcorn {
	font-size: 2rem;;
}
.searchbar-and-btn {
	margin: -10px;
	margin-right: 0;
}
/*article*/
article {
	font-size: 2.5rem;
	margin: auto;
	padding: 2rem;
}